@model ICollection<FPTLibrary.Models.Order>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/order.css" />
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Order List</h1>
        <br />
        <table class="table table-responsive text-center">
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Options</th>
            </tr>
            @foreach(var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Order_Date</td>
                    <td>
                        <a class="options" asp-action="Detail" asp-route-id="@order.Id">View</a>
                        <a class="options" asp-action="Delete" asp-route-id="@order.Id" onclick="    return confirm('Are you sure you want to delete this order?');">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </center>
    <a style="margin-left: 50%;" class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
</body>
</html>
