@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1  class="display-4"> <i> FPT GREENWICH BOOK STORE </i> </h1>

    <img width= "80%" height= "10%" src = "https://media.istockphoto.com/id/1018141798/photo/back-to-school-backgrounds-for-girl-white-and-pink-stationery-books-on-white-wood-table-and.jpg?s=170667a&w=0&k=20&c=u5FPqo9VpDud_KzvxgGadGuhPJs7b3h_TBlSe_yYoAU=" />

    
    <p>Learn <a style = "font-family : Fantasy" href="https://greenwich.edu.vn/en/english/">About Greenwich</a>.</p>
</div>
